<h1>Editing Meetup</h1>




<head>
  <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>

</head>
<%= form_for(@meetup) do |f| %>
  <% if @meetup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meetup.errors.count, "error") %> prohibited this meetup from being saved:</h2>

      <ul>
      <% @meetup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



			<div class="form-group">
				<div class="col-sm-2" >
					<%= f.label :title %>
				</div>
			    	<div class="col-sm-10">
					<%= f.text_field :title, class: 'form-control' %><br />
				</div>
			  </div>
<br />

			<div class="form-group">
				<div class="col-sm-2" >
					<%= f.label :user_id %>
				</div>
			    	<div class="col-sm-10">
					<%= f.text_field :user_id, class: 'form-control' %><br />
				</div>
			  </div>



  
<br />

			<div class="form-group">
				<div class="col-sm-2" >
					<%= f.label :disc %>
				</div>
			    	<div class="col-sm-10">
					<%= f.text_area :disc, class: 'form-control' %><br />
				</div>
			  </div>


<br />




			





  <div class="field">
   
    <%= f.hidden_field :lat %>
  </div>
  <div class="field">
   
    <%= f.hidden_field :long %>



			<div class="form-group">
				<div class="col-sm-2" >
					<%= f.label :country %>
				</div>
			    	<div class="col-sm-10">
					<%= f.text_field :country, class: 'form-control'  %><br />
				</div>
			  </div>




     <br>
       

  </div>
  


			<div class="form-group">
				<div class="col-sm-1"></div>
				<div class="col-sm-11 actions">
					<%= f.submit 'Submit !' , class: 'btn btn-success'%>
					
				</div>
			    
			  </div>

<% end %>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>


<script >
var x = document.getElementById("meetup_lat");
var y = document.getElementById("meetup_long");
var z = document.getElementById("meetup_country");

  z.onchange = function(){


var address = z.value;
var geocoder = new google.maps.Geocoder();

geocoder.geocode( { 'address': address}, function(results, status) {
  var location = results[0].geometry.location;
  x.value = location.lat();
    y.value = location.lng();

});

  };


    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
   // z.setAttribute("onChange", ch());

function showPosition(position) {
  console.log("hi");

  console.log(position.coords.latitude);
    x.value = position.coords.latitude ;
    y.value = position.coords.longitude ;
    console.log(position.coords.longitude);
   // console.log(geoplugin_city());
   console.log(geoplugin_countryName());
    z.innerHTML = geoplugin_countryName() ;
    z.value = geoplugin_countryName() ;


}
</script>






<%= link_to 'Show', @meetup %> |
<%= link_to 'Back', meetups_path %>
