
 <div class="panel panel-default">
    <div class="Panel-heading">
      <center>
        <h1>
        <%= @meetup.title %>
        </h1>
      </center>
    </div>
    <div class="panel-body">
      <center>
        <a href="#" class="btn btn-danger">Home</a>&nbsp;
        <%= link_to 'Photos', meetup_photos_path(@meetup), :class => "btn btn-danger" %>&nbsp;
        <%= link_to 'events', meetup_events_path(@meetup), :class => "btn btn-danger" %>&nbsp;
   <%= link_to 'Back', meetups_path , :class => "btn btn-danger"  %>&nbsp;
  
<% if  @join %>
<span class = "btn btn-danger">  joined </span>
<% else  %>
<%= link_to  'Join' , {:class => "btn btn-danger"} ,:action => "join" ,:id => @meetup   %>&nbsp; |
<% end %>

<%= link_to 'Edit', edit_meetup_path(@meetup) , :class => "btn btn-danger" %>&nbsp; |
     </center>
    </div>

  </div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meetup.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @meetup.user %>
</p>

<p>
  <strong>Disc:</strong>
  <%= @meetup.disc %>
</p>

<p>
  <strong>country:</strong>
  <%= @meetup.country %>
</p>




