<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Meetup:</strong>
  <%= @event.meetup %>
</p>
<% if  @joinevent %>
joined |
<% else  %>

<%= link_to  'Join',:action => "join" , :meetup_id =>@meetup, :id => @event %> |
<% end %>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.user %></td>
        <td><%= comment.event %></td>
        <td><%= link_to 'Show',  meetup_event_comment_path(@meetup,@event,comment)  %></td>
        <td><%= link_to 'Edit', edit_meetup_event_comment_path(@meetup,@event,comment) %></td>
        <td><%= link_to 'Destroy', meetup_event_comment_path(@meetup,@event,comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>New Comment</h1>

<%= form_for ([@meetup,@event,@event.comments.build]) do |f| %>
  
  

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_meetup_event_path(@meetup,@event) %> |
<%= link_to 'Back', meetup_events_path %>
